.modal.fade.d-print-done#hire
	.modal-dialog.modal-lg
		.modal-content
			.modal-header
				.modal-title Want to hire me?
			.modal-body
				
				.row
					.col-md-6
						
						.form-group
							label Company Name
							input.form-control(type="text")

						.form-group
							label Designation
							input.form-control(type="text")

						.form-group
							label Salary
							input.form-control(type="text")

					.col-md-6



			.modal-footer
				button.btn.btn-light(data-dismiss="modal") Cancel
				button.btn.btn-success Send Info
