<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Antonio Okoro
		link(rel="stylesheet", href="vendors/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet", href="vendors/ionicons/dist/css/ionicons.min.css")
		link(rel="stylesheet", href="css/main.css")
	body.theme-black-white(style="padding:0px 15px")
		.row.min-vh-100
			aside.col-sm-5.col-md-5
				article.user
					section.user-header.d-flex.align-items-center.justify-content-center
						img.user-img(src="img/avatar.jpg", alt="Antonio Okoro")
						section.user-details
							h4.user-name Antonio Okoro
							h6.user-title Full Stack Developer
							.user-location Lagos, Nigeria
					section
						.section-title About Me
						h6.font-weight-light.op-5 Age: 
							span.age
						.section-body
							| I'm an amazing full stack developer, with great experience with both front and backend
							br
							| I work well in teams and although I'm not a gradute I can assure you that I am far better than most graduates

					section
						.section-title Skillz
						.progress-group.row
							.col-4
								.progress-label HTML
							.col
								.progress
									.progress-bar(data-width="75%" style="width:75%")
									.progress-value 75%
						.progress-group.row
							.col-4
								.progress-label CSS
							.col
								.progress
									.progress-bar(data-width="95%" style="width:95%")
									.progress-value 95%
						.progress-group.row
							.col-4
								.progress-label Javascript
							.col
								.progress
									.progress-bar(data-width="80%" style="width:80%")
									.progress-value 80%
						.progress-group.row
							.col-4
								.progress-label PHP
							.col
								.progress
									.progress-bar(data-width="70%" style="width:70%")
									.progress-value 70%
						.progress-group.row
							.col-4
								.progress-label Bootstrap
							.col
								.progress
									.progress-bar(data-width="75%" style="width:75%")
									.progress-value 75%
						.progress-group.row
							.col-4
								.progress-label Laravel
							.col
								.progress
									.progress-bar(data-width="85%" style="width:85%")
									.progress-value 85%
						.progress-group.row
							.col-4
								.progress-label Vue
							.col
								.progress
									.progress-bar(data-width="75%" style="width:75%")
									.progress-value 75%

					section
						.section-title Contact
						address.row
							.address-icon.ion-md-home
							.col.address-info
								span
									| 38, Old Ewu Road, Mafoluku, Oshodi-isolo
						address.row
							.address-icon.ion-md-map
							.col.address-info
								span Lagos
						address.row
							.address-icon.ion-md-flag
							.col.address-info
								span Nigeria
						address.row
							.address-icon.ion-md-mail
							.col.address-info
								a(href="mailto:cheezytony1@gmail.com") cheezytony1@gmail.com
						address.row
							.address-icon.ion-md-call
							.col.address-info
								a(href="tel:+2348105844849") +2348105844849

					section
						.section-title Connect With Me
						address.row
							.address-icon.ion-logo-facebook
							.col.address-info
								a(href="https://facebook.com/antonio.cheezy", target="_blank") facebook.com/antonio.cheezy
						address.row
							.address-icon.ion-logo-linkedin
							.col.address-info
								a(href="https://www.linkedin.com/in/antonio-okoro", target="_blank") linkedin.com/in/antonio-okoro
						address.row
							.address-icon.ion-logo-github
							.col.address-info
								a(href="https://github.com/cheezytony", target="_blank") github.com/cheezytony


			main.col
				article
					section
						.section-title Education
						ul.list
							li.list-item
								.list-item-title Mafoluku Senior Grammer School
								.list-item-subtitle 2013 - 2016
								.list-item-body SSCE

							li.list-item
								.list-item-title Ewutuntun Junior Grammer School
								.list-item-subtitle 2010 - 2013
								.list-item-body JSCE

					section
						.section-title Job Experience
						ul.list
							li.list-item
								.list-item-title Crednet Technologies (Credpal)
								.list-item-subtitle Jan 2019 - now
								.list-item-body Full Stack Developer
							li.list-item
								.list-item-title Mighty Interactive
								.list-item-subtitle Dec 2017 - Dec 2018
								.list-item-body Full Stack Developer
					
					section
						.section-title Projects I've Done
						ul.list
							li.list-item
								a.list-item-body(href="https://mighty.ng", target="_blank"): b https://mighty.ng
							li.list-item
								a.list-item-body(href="https://mightycreative.xyz", target="_blank"): b https://mightycreative.xyz
							li.list-item
								a.list-item-body(href="https://mightyi.com", target="_blank"): b https://mightyi.com
							li.list-item
								a.list-item-body(href="https://credpal.com", target="_blank"): b https://credpal.com

						p And Lot's of private github projects which will be available upon request

					section
						.section-title Tools I Use
						.tools
							.tools-title Markup:
							ul.tags
								.tag HTML5
								.tag Pug

						.tools
							.tools-title Styling:
							ul.tags
								.tag CSS3
								.tag SASS
								.tag SCSS
								.tag Bootstrap
								.tag Flat Design
								.tag Material Design

						.tools
							.tools-title Javascript:
							ul.tags
								.tag ES6 Javascript
								.tag Babel
								.tag jQuery
								.tag Angular
								.tag Vue
								.tag Axios
								.tag Owl Carousel
								.tag Sweet Alert

						.tools
							.tools-title Backend:
							ul.tags
								.tag PHP
								.tag Laravel
								.tag Code Igniter
								.tag Wordpress
								.tag Composer

						.tools
							.tools-title Database:
							ul.tags
								.tag SQL
								.tag MySQL
								.tag PDO

						.tools
							.tool-title Project Management
							ul.tags
								.tag NPM
								.tag Webpack
								.tag Composer
								.tag Prepros

						.tools
							.tool-title Text Editors
							ul.tags
								.tag Sublime Text
								.tag Visual Studio Code

					section
						.section-title Referees
						p Available Upon Request



			footer.text-muted.bg-light.col-12
				h6 My name is Antonio Chimezie Okoro


	include settings
	include hire

	//- Javascript
	script(src="vendors/jquery/dist/jquery.min.js")
	script(src="vendors/bootstrap/dist/js/bootstrap.min.js")
	script(src="js/resume.js")