.settings-toggle.d-print-none
	span.icon.ion-md-settings
.settings.d-print-none
	.settings-menu
		.settings-menu-item
			.settings-menu-item-title Theme
			.settings-menu-item-body
				.themes
					.themes-theme.preview-black-white(data-set-theme="black-white")
						| Black + White
						.themes-theme-label
							.themes-theme-label-sidebar
					.themes-theme.preview-blue(data-set-theme="blue")
						| Blue
						.themes-theme-label
							.themes-theme-label-sidebar
		.settings-menu-buttons
			a.btn.btn-primary(href="#hire" data-toggle="modal") Hire Me